[submodule "submodules/SPIRV-Cross"]
	path = submodules/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "submodules/glslang"]
	path = submodules/glslang
	url = https://github.com/KhronosGroup/glslang
